
body {
  font-family: helvetica;
  font-size: 18px

}

@media only screen and (max-width:1024px;) {
  .mobile-nav {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width:1024px;) {
  body {
    font-size: 16px;
  }
}


.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}

.company img {
  height: 1.5em;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

nav {
  background-color: firebrick;
  color: white;
  display: block;
  margin: auto;
  font-size: 16px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em 0;
    list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

div {
  display: block;

}

p {
  text-align: center;
  background-color: black;
  color: white;

}

p .location {
  text-align: center;
  background-color: black;
  color: white;
  padding-left: 2rem;
  width: 35%;
  margin-top: 3rem;
  margin: 1rem;

}

.location {
  text-align: center;
  padding-left: 2rem;
  width: 35%;
  margin-top: 3rem;
  margin-bottom: 4rem;
  justify-content: space-between;


}

.main-banner {
  background-image: url(../moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
  padding-left: 3rem;
  height: 25rem;

}

.headliner {
  background-color: black;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}


h1 {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  max-width: 969px;
  margin: auto;
}

.flex-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-container .location {
  background-color: white;
  width: 35%;
  flex-direction:  row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.products {
  background-color: white;
  border: 4px solid black;
  display: block;
  padding-top: 3rem;
  width: 30% auto;
}

.products img {
  max-width: 8em;
}


.location {
  display: block;
  width: 35% auto;


}

.location p {
    padding: 1 2rem;
}

img {
  border-style: none;
  height: 9rem;
  width: auto;
}

footer {
  background-color: black;
  color: white;
  width: 100% auto;
  height: 5rem;
  text-align: left;
  justify-content: center;
  align-items: center;
}
